{% extends "pto/base.html" %}

{% load bootstrap %}

{% block body_class %}pto membership-students{% endblock %}

{% block head_title %}Delete Student{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 form-container">
            <form class="form student-form alert alert-danger" method="POST" action="{% url "student_delete" object.pk %}">
                {% csrf_token %}
                <p class="lead">Are you sure you want to delete this student?</p>
                <p style="padding-bottom: 10px;">
                    <strong>{{ object.first_name }} {{ object.last_name }}</strong><br />
                    {{ object.teacher }}<br />
                    Grade: {{ object.grade }}
                </p>
                <div>
                    <a href="{% url "students" %}" class="btn btn-sm btn-default">Cancel</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                       Yes
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}