{% extends "pto/base.html" %}

{% load bootstrap %}

{% block body_class %}pto membership-students{% endblock %}

{% block head_title %}Manage Students{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5 form-container">
            {% if object %}
                {% url "student_edit" object.pk as post_url %}
            {% else %}
                {% url "student_add" as post_url %}
            {% endif %}
            <form class="form student-form" method="POST" action="{{ post_url }}">
                {% csrf_token %}
                <legend>{% if object %}Edit Student{% else %}Add Student{% endif %}</legend>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.first_name|bootstrap }}
                    </div>
                    <div class="col-md-6">
                        {{ form.last_name|bootstrap }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.grade|bootstrap }}
                    </div>
                    <div class="col-md-6">
                        {{ form.teacher|bootstrap }}
                    </div>
                </div>
                <div class="pull-right">
                    <a href="{% url "students" %}" class="btn btn-sm btn-default">Cancel</a>
                    <button type="submit" class="btn btn-sm btn-primary">
                        {% if object %}Save{% else %}Add{% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}