{% extends "pto/base.html" %}

{% block body_class %}pto membership-contacts{% endblock %}

{% block head_title %}Manage Contacts{% endblock %}

{% block body %}
    <a href="{% url "contact_add" %}" class="btn btn-xs btn-success pull-right">Add Contact</a>
    <h2 class="legend">Contacts</h2>
    <table class="table contacts">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Address</th>
                <th>Cell Phone</th>
                <th>Home Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in object_list %}
                <tr>
                    <td>
                        <a class="btn btn-xs btn-default" href="{% url "contact_edit" contact.pk %}">
                            <i class="fa fa-pencil"></i>
                            Edit
                        </a>
                        <a class="btn btn-xs btn-danger" href="{% url "contact_delete" contact.pk %}">
                            <i class="fa fa-trash-o"></i>
                            Delete
                        </a>
                    </td>
                    <td>{{ contact.first_name }} {{ contact.last_name }}</td>
                    <td>
                        {% if contact.address_1 %}{{ contact.address_1 }}<br />{% endif %}
                        {% if contact.address_2 %}{{ contact.address_2 }}<br />{% endif %}
                        {% if contact.city %}{{ contact.city }}, TN<br />{% endif %}
                        {% if contact.zip_code %}{{ contact.zip_code }}{% endif %}
                    </td>
                    <td>{{ contact.cell_phone }}</td>
                    <td>{{ contact.home_phone }}</td>
                    <td>{{ contact.email }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="6" class="alert alert-warning">You have not added any contacts yet.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}